SECRET_KEY=your-api-key
DEBUG=True
GROQ_API_KEY=your-groq-api-key
GROQ_MODEL=your-model

#  - - - - - for localost - - - - -

# CELERY_BROKER_URL=redis://localhost:6379/0
# CELERY_RESULT_BACKEND=redis://localhost:6379/0


#  - - - - - for docker - - - - -
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
#  - - - - - for docker - - - - -

# for docker
DRIVE_SERVICE_BASE_URL = "http://drive_service:8001"

# for local development
# DRIVE_SERVICE_BASE_URL = "http://localhost:8001"


# Email for local development
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend

# Data base
DB_NAME=your-db-name
DB_USER=your-user
DB_PASSWORD=your-db-password
# DB_HOST=localhost
DB_HOST=db
DB_PORT=5432