# Python
venv/
.venv/
__pycache__/
.pytest_cache/

# Node
frontend/node_modules/
frontend/dist/

# Django
db.sqlite3
media/
uploads/
uploaded_documents/

# Vector DB
chroma_db/

# Environment
.env

# macOS
.DS_Store