GOOGLE_CREDENTIALS_FILE=credentials.json
GOOGLE_TOKEN_FILE=token.json
DJANGO_BASE_URL=http://localhost:8000
GOOGLE_API_TIMEOUT_SECONDS=60
GOOGLE_API_PREFER_IPV4=True
GOOGLE_CLIENT_SECRET=your-GOOGLE_CLIENT_SECRET

FERNET_KEY=your-FERNET_KEY
# DJANGO_BASE_URL=http://localhost:8000   # use for local dev
DJANGO_BASE_URL=http://django:8000         # use for Docker

SECRET_KEY=your-django-SECRET_KEY
# DATABASE_URL=postgresql://raguser:ragpassword@localhost:5432/ragdb  # use for local dev

DATABASE_URL=your-DATABASE_URL             # use for Docker
STATE_SIGNING_SECRET=your-setting-SECRET_KEY

# REDIS_URL=redis://localhost:6379/0
REDIS_URL=redis://redis:6379/0

FRONTEND_BASE_URL=http://localhost:3000 